# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

# Set default charset
charset = utf-8

#### Style ####

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none
